.app-container {
  text-align: center;
}
.todo-container h1 {
  font-weight: 700;
  font-size: 40px;
}
input{
    width: 50%;
}
.items-container {
    text-align: left;
}
.kg-row {
  margin: 10px 5px;
}